body{
  background-image: url(./images/dog-prints2.jpg);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

button{
  height: 75px;
  width:150px;
}

.glowing-button {
  animation: glowing 1s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgb(170, 74, 234);
  }
  50% {
    box-shadow: 0 0 20px rgb(170, 74, 234);
  }
  100% {
    box-shadow: 0 0 5px rgb(170, 74, 234);
  }
}
